body {
  font-family: 'Open Sans', sans-serif, Arial, Helvetica;
  font-style: normal;
  font-size: 14px;
  position: relative;
}
a {
  text-decoration: none;
}

.popup{ height: 0px; position: fixed; bottom: 0; overflow:hidden; min-width: 200px;  max-width: 600px; 
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
  margin-top: 331px; box-shadow: 2px -4px 0px rgba(0, 0, 0, .3); 
  border: 1px solid #999; background-color: #F0F0F0; text-align: left; 
}
.popup .wrapper{ padding: 20px;}
.popup .header{ color: #073D5D; font-size: 1.5rem; line-height: 1.2; margin-bottom: 10px; }
.popup .header .close{ float: right; color: #999; }
.popup .body p{ color: #073D5D; }
.popup .body input, .popup .body button{ width: 100%; border-radius: 2px; padding: 8px 10px; border: 1px solid #ccc; }
.popup .body button{ background-color:#073D5D; color: #fff; }
.popup .timer{ text-align: center; font-size: 1.25rem; }

.popup.active{ margin-top:0; height: 250px; }
